{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />	
  <title>{% block titulo %}{{ titlehead}}{% endblock%}</title>
  <link rel="stylesheet" type="text/css" href="../static/css/estil.css" media="screen" />
  
  </head>

<body >


<div id="layer-0">
<h1>{{ pagetitle }}</h1>

{% if user.username %}
<p>Benvingut {{ user.username }}!
Aquí podrà gestionar i visualitzar totes les Escoles!</p>
{% else %}
<p>Benvingut Usuari:
Obligatori fer <a href="/login/">sign in</a>
per gestionar Escoles.</p>
{% endif %}


</div>
<div id="layer-1">
<nav>	
	<ul id="layer-1">
		<li><a href="/escola">{{ optionmenu1 }}</a></li>
		<li><a href="/reglament">{{ optionmenu2 }}</a></li>
		<li><a href="/equip">{{ optionmenu3 }}</a></li>
		<li><a href="/instalacions">{{ optionmenu4 }}</a></li>
		


	</ul>
</nav>
</br>
</div>

<div id ="layer-2">
{%block contenido %}
<center></br></br>
<h2> Fer Login per Entrar a l'aplicatiu </h2>

<b>Important, Si no fas el Login no podràs veure en detall les Entitats. </br>
</center>
</div>
{%endblock%}

</body>
</html>
