{% extends "base.html" %}

{% block contenido %}
<button onclick="location.href='/escola'"> Tornar Enrere</button>
<button onclick="location.href='/'"> Inici</button>
<center>
<h3>Detalls escola {{nom}}</h3>
{% if user.is_authenticated %}
</br><button onclick="location.href='/escola/{{idEscole}}/edit/'" > Editar Escola</button>	
<button onclick="location.href='/escola/{{idEscole}}/delete'">Esborrar</button>

{% endif %}
		<table>
		<tr><td><b>Nom escola :</b></td><td>{{nom}}</td></tr>
		<tr><td><b>Direccio :</b></td><td>{{direccio}}</td></tr>
		<tr><td><b>Telefon :</b></td><td>{{telf}}</td></tr>
		<tr><td><b>Pressident :</b></td><td>{{president}}</td></td>
		<tr><td><b>Vicepressident :</b></td><td>{{vicepresident}}</td></tr>
		<tr><td><b>Coordinador :</b></td><td>{{coordinador}}</td></tr>

		</table>
</center>
 
{% endblock %}

{% block footer %}
<div id="footer">
    <p>Created by {{user}}</p>
</div>
{% endblock %}

