{% extends "base.html" %}

{% block contenido %}
<button onclick="location.href='/equip'"> Tornar Enrere </button> 
<br><button onclick="location.href='/'"> Inici </button> <br> 
	
	<center>
<h3>Detalls equip {{categoria}} </h3>
{% if user.is_authenticated %}
</br><button onclick="location.href='/equip/{{idEquip}}/edit/'" > Editar Equip </button>

{% endif %}
		
		<table>
		<tr><td><b>Nom Equip :</b></td><td>{{categoria}}</td></tr>
		<tr><td><b>Nombre de Jugadors:</b></td><td>{{numjug}}</td></tr>
		<tr><td><b>Entrenador:</b></td><td>{{entrenador}}</td></tr>
		<tr><td><b>Posicio :</b></td><td>{{possicio}}</td></td>
		<tr><td><b>Punts :</b></td><td>{{punts}}</td></tr>
		<tr><td><b>Imatge :</b></td><td><img src="{{imatge}}"/></td></tr>
	
		<tr><td><b>Escola :</b></td><td>{{escola.nom}}</td></tr>	

		</table>
		{% if user.is_authenticated %}
		<button onclick="location.href='/equip/{{idEquip}}/delete'">Delete</button>
		{% endif %}

</center>


 


{% endblock %}