{% extends "base.html" %}

{% block contenido %}
<button onclick="location.href='/instalacions'">Tornar Enrere</button>
<button onclick="location.href='/'"> Inici</button>
<center>
	<h3>Detalls Intal·lació {{nom}}</h3>

	{% if user.is_authenticated %}	
	</br><button onclick="location.href='/escola/{{idInstalacions}}/edit/'"> Editar Instalacio</button>
		<button onclick="location.href='/instalacions/{{idInstalacions}}/delete'">Esborrar</button>

	{% endif %}

		<table>
		<tr><td><b>Nom :</b></td><td>{{nom}}</td></tr>
		<tr><td><b>Direcció:</b></td><td>{{direccio}}</td></tr>

		<tr><td><b>Escola :</b></td><td>{{escola.nom}}</td></tr>

		</table>
</center>
{% endblock %}
{% block footer %}
<div id="footer">
    <p>Created by {{user}}</p>
</div>
{% endblock %}
