{% extends "base.html" %}

{% block contenido %}
<button onclick="location.href='/reglament'"> Tornar Enrere</button>
<button onclick="location.href='/'"> Inici</button>
	
	<center>

<h2>{{numnorma}}. {{normes}}</h2>

{% if user.is_authenticated %}

</br><button onclick="location.href='/reglament/{{idReglament}}/edit/'" > Editar Reglament</button>
<button onclick="location.href='/reglament/{{idReglament}}/delete'">Esborrar</button>

{% endif %}
<table>
		<tr><td><b>Num Norma:</b></td><td>{{numnorma}}</td></tr>
		<tr><td><b>Nom Norma:</b></td><td>{{normes}}</td></tr>
		<tr><td><b>Descripció:</b></td><td>{{descripcio}}</td></tr>
		<tr><td><b>Escola :</b></td><td>{{escola.nom}}</td></tr>		
</table>		
</center>
{% endblock %}

{% block footer %}
<div id="footer">
    <p>Created by {{user}}</p>
</div>
{% endblock %}
