{% extends "base.html" %}

{% block contenido %}
	
	
	<center>
<h3>Detalls equip {{categoria}} </h3>
		
		<table>
		<tr><td>Nom Equip :</td><td>{{categoria}}</td></tr>
		<tr><td>Nombre de Jugadors:</td><td>{{numjug}}</td></tr>
		<tr><td>Entrenador:</td><td>{{entrenador}}</td></tr>
		<tr><td>Posicio :</td><td>{{possicio}}</td></td>
		<tr><td>Punts :</td><td>{{punts}}</td></tr>
		<tr><td>Imatge :</td><td><img src="{{imatge}}"/></td></tr>
	
		<tr><td>Escola :</td><td>{{escola.nom}}</td></tr>
		

		</table>
		</br><a href="/escola/{{pk}}/edit/" > Editar detalls Equip </a>	<br>	<a href="/equip"> Tornar a menu </a>  
		
</center>


 


{% endblock %}