{% extends "base.html" %}

{% block contenido %}
<button onclick="location.href='/equip'"> Tornar Enrere </button> 
<br><button onclick="location.href='/'"> Inici </button> <br> 

<span vocab="http://schema.org/" typeof="SportsTeam">
	
	<center>
<h3 property="name">Detalls equip {{categoria}} </h3>
{% if user.is_authenticated %}
</br><button onclick="location.href='/equip/{{idEquip}}/edit/'" > Editar Equip </button>
		<button onclick="location.href='/equip/{{idEquip}}/delete'">Esborrar</button>
{% endif %}
		
		<table>
		<tr><td><b>Nom Equip :</b><span property="Name"></td><td>{{categoria}}</span></td></tr>
		<tr><td><b>Nombre de Jugadors:</b><span property="Number"></td><td>{{numjug}}</span></td></tr>
		<tr><td><b>Entrenador:</b><span property="ContactPoint"></td><td>{{entrenador}}</span></td></tr>
		<tr><td><b>Posicio :</b><span property="position"></td><td>{{possicio}}</span></td></td>
		<tr><td><b>Punts :</b><span property="Points"></td><td>{{punts}}</span></td></tr>
		<tr><td><b>Imatge :</b><span property="Imatge"></td><td><img src="{{imatge}}"/></span></td></tr>
	
		<tr><td><b>Escola :</b></td><td>{{escola.nom}}</td></tr>


		</table>

<h2>Reviews</h2>
{% if equip.equipreview_set.all|length > 0 %}
		<span rel="aggregateRating">
			<p typeof="AggregateRating">
				Promitj de valoracions:
				<span	property="ratingValue">{{ equip.averageRating|stringformat:".1f" }}</span>
				{%	with equip.equipreview_set.all|length as reviewCount %}
					de  <span property="reviewCount">{{ reviewCount }}</span>
					valoracion{{ reviewCount|pluralize }}
					<br>Escala reviews : (<span property="worstRating">{{ RATING_CHOICES.0.0 }}</span>-
				<span property="bestRating">{{ RATING_CHOICES.4.0 }}</span>)
				{%	endwith	%}
				
			</p>
		</span>
		{% endif %}

		<span rel="review">
				<center>

				<b><u>Reviews realitzades:</u></b>
				<table >	
					<tr><td><b>Puntuació | Opinio | Creador | Data</b></td></tr>
					{% for review in equip.equipreview_set.all %}
					<tr>
						<td>
						   <span typeof="Review">
								<span rel="reviewRating" typeof="Rating">
								<span property="ratingValue">{{ review.rating }}</span> |
								<span property="description">{{ review.comment }}</span> |
								<span property="author">{{ review.user }}</span> |
								<span property="publishDate">{{ review.date }}</span>

						   </span>
						</td>
					</tr>

					{% endfor %}
				</table>
				</center>
				<br>
		</span>
	</span>

<h3>Afegir Review</h3>
<form action="." method="post">
    {% csrf_token %}
    Missatge: <textarea name="comment" id="comment" rows="4"></textarea>
    <p>Valoracio:</p>
    <p>
    {% for rate in RATING_CHOICES %}
        <input type="radio" name="rating" id="rating{{ forloop.counter }}" value="{{ rate.1 }}" />
        <label for="choice{{ forloop.counter }}">{{ rate.1 }} star{{ rate.0|pluralize }}</label><br />
    {% endfor %}
    </p>
    <input type="submit" value="Valorar" onclick="alert('Valoracio enviada!!')"/>
</form>

</center>
{% endblock %}

{% block footer %}
<div id="footer">
    <p>Created by {{user}}</p>
</div>
{% endblock %}
