{% extends "base.html" %}
{%	block contenido	%}

	<center><h3>Entrar nou camp a la base de dades</h3></center>
	<br>
	<br>
	<center>
	<form method="post" action="" >
				{%	csrf_token %}
		<table>
			{{	form.as_table }}
		</table>
		<input type="submit" value="Validar" onclick="alert('Entitat Creada/Editada correctament	!')"/>
	</form>
	</center>

	<script > 
	$(function()	{
			var	escoles	=	["Guissona", "Lleida", "Tarrega", "Agramunt", "Mollerussa", "Linyola", "Termens", "Cervera", "Artesa", "Les Borges", "Barcelona", "Tarragona", "Girona", "Balaguer", "Torrefarrera"];
			$(	"#	id_escoles"	).autocomplete({
				source:	escoles
			});
		});
	</script>

	 

{% endblock %}