{% extends "base.html" %}

{% block contenido %}
	
	
	<center>



<h3>Afegir Equip a la BD </h3>
		

		<form action="" method="post">		
			{% csrf_token %}	

	 		<p>Categoria : <input type="text" name="categoria" id="categoria"/> <br></p>
	 		<p>Nombre de jugadors: <input type="text" name="nombre" id="nombre"/> <br></p>
	 		<p>Entrenador: <input type="text" name="entrenador" id="entrenador"/> <br></p>
	 		<p>Imatge: <input type="text" name="imatge" id="imatge"/> <br></p>
	 		<p>Possicio: <input type="text" name="possicio" id="possicio"/> <br></p>
	 		<p>Punts: <input type="text" name="punts" id="punts"/> <br></p>
	 		<p>Escola: <input type="text" name="escola" id="escola"/> <br></p>
  		<input type="submit" value="Crear"/>	
		</form>	
  

		
	
		
		

		
		</br>	<a href="/equip"> Tornar a menu equips </a>

</center>
 


{% endblock %}