{% extends "base.html" %}

{% block contenido %}
<br><center>
<form method="post" action="{% url django.contrib.auth.views.login%}">
		{% csrf_token %}
		
			<table>
			<tr>
    			<td><label for="id_username">User:</label></td>
    			<td>{{form.username}}</td>

			</tr>
			<tr>
    			<td><label for="id_password">Pass:</label></td>
    			<td>{{form.password}}</td>

			</tr>
			</table>

<input type="submit" value="login" />
<input type="hidden" name="next" value="/" />
		
		</form>

</center>


{% endblock %}
