#layer-1 {
padding: 40;
}

#layer-1 li {
display: inline;
}

#layer-1 li a {
font-family: Arial;
font-size:12px;
text-decoration: none;
float:left;
padding: 10px;
background-color: #2175bc;
color: #fff;
}
#layer-1 li a:hover {
background-color: #2586d7;
margin-top:-10px;
padding-bottom:12px;
}

#layer-0 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-image: -moz-linear-gradient(top,  rgba(88, 50, 241, 1) 0%, rgba(221, 221, 221, 1) 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(88, 50, 241, 1)), color-stop(100%,rgba(221, 221, 221, 1)));
  background-image: -webkit-linear-gradient(top,  rgba(88, 50, 241, 1) 0%,rgba(221, 221, 221, 1) 100%);
  background-image: -o-linear-gradient(top,  rgba(88, 50, 241, 1) 0%,rgba(221, 221, 221, 1) 100%);
  background-image: -ms-linear-gradient(top,  rgba(88, 50, 241, 1) 0%,rgba(221, 221, 221, 1) 100%);
  background-image: linear-gradient(to bottom,  rgba(88, 50, 241, 1) 0%,rgba(221, 221, 221, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5832F1', endColorstr='#5832F1',GradientType=0 );
  width: 100%;
  height: 1000%;
  opacity: 1;
}

#layer-1 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #2175bc;
  background-repeat: no-repeat;
  width: 100%;
  height: 50px;
  opacity: 1;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  box-shadow: 0px 0px 0px 0px #4E51E9,0px 0px 0px 0px #8E81DA inset;
  -webkit-box-shadow: 0px 0px 0px 0px #4E51E9,0px 0px 0px 0px #8E81DA inset;
  -moz-box-shadow: 0px 0px 0px 0px #4E51E9,0px 0px 0px 0px #8E81DA inset;
  -ms-box-shadow: 0px 0px 0px 0px #4E51E9,0px 0px 0px 0px #8E81DA inset;
  -o-box-shadow: 0px 0px 0px 0px #4E51E9,0px 0px 0px 0px #8E81DA inset;
}

#layer-2 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #EEECEC;
  width: 100%;
  height: 400%;
  opacity: 1;
  position:absolute;
  top: 65%;
  left: 20%;
  height:190%;
  width:1000px;
  margin-top:-200px;
}

 
    .myButton {
        
        -moz-box-shadow: 0px 10px 14px -7px #276873;
        -webkit-box-shadow: 0px 10px 14px -7px #276873;
        box-shadow: 0px 10px 14px -7px #276873;
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
        background:-moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
        background:-webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
        background:-o-linear-gradient(top, #599bb3 5%, #408c99 100%);
        background:-ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
        background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
        
        background-color:#599bb3;
        
        -moz-border-radius:8px;
        -webkit-border-radius:8px;
        border-radius:8px;
        
        display:inline-block;
        color:#ffffff;
        font-family:arial;
        font-size:18px;
        font-weight:bold;
        padding:13px 32px;
        text-decoration:none;
        
        text-shadow:0px 1px 0px #3d768a;
        
    }
    .myButton:hover {
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
        background:-moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
        background:-webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
        background:-o-linear-gradient(top, #408c99 5%, #599bb3 100%);
        background:-ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
        background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
        
        background-color:#408c99;
    }
    .myButton:active {
        position:relative;
        top:1px;
    }

#footer{
    margin-top: 11%;
    width: 100%;
    height: 50px;
    background-color: #f5f5f5;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
